/* =========
Your custom styles go here
 ========= */

.login-logo {
  margin-top: 140px;
  margin-bottom: 120px;
  width: 290px;
}

.company-cover {
  height: 120px;
}

.company-cover img {
  width: 100%;
}